  .dropdown-add-patient{
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .dropdown-menu{
    max-height: 150px;
    overflow-y: scroll;
  }
  
  /* Styling the scrollbar */
  
  .dropdown-menu::-webkit-scrollbar {
    width: 8px; 
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  
  /* Styling the checkbox */
  .checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
  }
  
  .input-label-text{
    width: 100px;
  }
  